rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth()      { return request.auth != null; }
    function isSelf(uid)   { return isAuth() && request.auth.uid == uid; }
    function userRole()    { return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role; }
    function isAdmin()     { return isAuth() && userRole() == 'super_admin'; }
    function isSubAdmin()  { return isAuth() && userRole() == 'sub_admin'; }

    match /users/{uid} {
      allow read:   if isSelf(uid) || isAdmin() || isSubAdmin();
      allow create: if isAuth();
      allow update: if isSelf(uid) && !request.resource.data.diff(resource.data)
                       .affectedKeys().hasAny(['role','permissions','isActive'])
                    || isAdmin();
      allow delete: if isAdmin();
    }

    match /chats/{chatId} {
      allow read, write: if isAuth() && request.auth.uid == resource.data.userId;
      allow create:      if isAuth() && request.auth.uid == request.resource.data.userId;
      allow read:        if isAdmin();

      match /messages/{msgId} {
        allow read, write: if isAuth() &&
          request.auth.uid == get(/databases/$(database)/documents/chats/$(chatId)).data.userId;
        allow read: if isAdmin();
      }
    }
  }
}
